/* Full-page background color */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #e5f2ff;
    font-family: 'Roboto', sans-serif;
}

/* Main container for the map and text */
.map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
    margin: 0;
}

/* Full-width header bar */
.header-container {
    width: 100%;
    background-color: #c2c9ff;  /* Dark blue color */
    text-align: center;
    padding: 20px 0;
}

.header-container h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin: 0;
}

p {
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 20px;
}

/* Responsive Map */
.composable-map {
    max-width: 100%;
    height: auto;
}
